@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.DarbuotojasKEditVM
@{
	ViewData["title"] = "Darbuotojo redagavimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Model.Id)

	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			@Html.LabelFor(m => m.Model.FkASMUOid, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Model.FkASMUOid, Model.Lists.Asmuo, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Model.FkASMUOid, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Model.DarbuotojoRole, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Model.DarbuotojoRole, Model.Lists.Role, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Model.DarbuotojoRole, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Model.DirbaNuo, new { @class = "control-label" })
			@Html.EditorFor(m => m.Model.DirbaNuo, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Model.DirbaNuo, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Model.DirbaIki, new { @class = "control-label" })
			@Html.EditorFor(m => m.Model.DirbaIki, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Model.DirbaIki, "", new { @class = "text-danger" })
		</div>
		

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Išsaugoti" class="btn btn-success" />
			</div>
		</div>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>
