@{
	/// <summary>
	/// Helper for marking active links in main menu.
	/// </summary>
	/// <param name="ctrl">Controller to look for.</param>
	/// <param name="act">Action to look for. Pass null if action does not matter.</param>
	/// <returns>If controller and (optionally) action match given ones returns "active". Returns empty string otherwise.</returns>
	string MarkActive(string ctrl, string act = null)
	{
		//get current controller and action
		var curCtrl = (string)ViewContext.RouteData.Values["Controller"];
		var curAct = (string)ViewContext.RouteData.Values["Action"];

		//compare to given ones
		if( curCtrl == ctrl && (act == null || curAct == act) )
			return "active";
		return "";
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Autonuoma - @ViewData["title"]</title>

	<link href="@Url.Content("~/lib/bootstrap/css/bootstrap.css")" rel="stylesheet"/>
	<link href="@Url.Content("~/css/fontawesome.all.css")" rel="stylesheet"/>
	<link href="@Url.Content("~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css")" rel="stylesheet"/>
	<link href="@Url.Content("~/lib/datatables/datatables.css")" rel="stylesheet"/>

	<link href="@Url.Content("~/css/site.css")" rel="stylesheet"/>

	<script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
	<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
	<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
	<script src="@Url.Content("~/lib/jquery-datetimepicker/jquery.datetimepicker.full.js")"></script>
	<script src="@Url.Content("~/lib/bootstrap/js/bootstrap.bundle.js")"></script>
	<script src="@Url.Content("~/lib/popper/popper.js")"></script>
	<script src="@Url.Content("~/lib/datatables/datatables.js")"></script>

	<script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
</head>
<body>
	@* main menu *@
	<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="@Url.Action("Index", "Home")" class="navbar-brand"><i class="fa-brands fa-itunes-note"></i></a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarContent"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container-fluid d-flex justify-content-center">
				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						@* main menu links go here *@
						@*
						<li class="nav-item">
							<a href="@Url.Action("Index", "Sutartis")" class="@MarkActive("Sutartis") nav-link">Sutartys</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Paslauga")" class="@MarkActive("Paslauga") nav-link">Paslaugos</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Klientas")" class="@MarkActive("Klientas") nav-link">Klientai</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Darbuotojas")" class="@MarkActive("Darbuotojas") nav-link">Darbuotojai</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Automobilis")" class="@MarkActive("Automobilis") nav-link">Automobiliai</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Marke")" class="@MarkActive("Marke") nav-link">Markės</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Modelis")" class="@MarkActive("Modelis") nav-link">Modeliai</a>
						</li>
						*@
						@* Mano Nuorodos *@
						@* Enum *@
						<li class="nav-item">
							<a href="@Url.Action("Index", "Lytis")" class="@MarkActive("Lytis") nav-link">Lytis</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Role")" class="@MarkActive("Role") nav-link">Role</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Miestas")" class="@MarkActive("Miestas") nav-link">Miestas</a>
						</li> 
						<li class="nav-item">
							<a href="@Url.Action("Index", "Tipas")" class="@MarkActive("Tipas") nav-link">Tipas</a>
						</li>
						@* Su Fk *@
						<li class="nav-item">
							<a class="@MarkActive("||") nav-link">||</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Asmuo")" class="@MarkActive("Asmuo") nav-link">Asmuo</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "IrenginioTipas")" class="@MarkActive("Irenginio_tipas") nav-link">IrenginioTipas</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Atlikejas")" class="@MarkActive("Atlikejas") nav-link">Atlikejas</a>
						</li>
						@* Su Fk Nedamusti*@
						<li class="nav-item">
							<a class="@MarkActive("||") nav-link">||</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "Irenginys")" class="@MarkActive("Irenginys") nav-link">Irenginys</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", "DarbuotojasK")" class="@MarkActive("DarbuotojasK") nav-link">Darbuotojas</a>
						</li>

					</ul>

					@* drop-down for report links *@
					<ul class="navbar-nav justify-content-right mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a
								class="@MarkActive("Ataskaita") nav-link dropdown-toggle"
								href="#"
								id="navbarReports"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Ataskaitos
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarReports">
								@* report links go here *@
								<li>
									<a
										href="@Url.Action("Islaidos", "Ataskaita")"
										class="@MarkActive("Ataskaita", "Išlaidos") dropdown-item"
									>Išlaidų ataskaita</a>
								</li>
								<li>
									<a
										href="@Url.Action("Paslaugos", "Ataskaita")"
										class="@MarkActive("Ataskaita", "Paslaugos") dropdown-item"
									>Paslaugų ataskaita</a>
								</li>
								<li>
									<a
										href="@Url.Action("Sutartys", "Ataskaita")"
										class="@MarkActive("Ataskaita", "Sutartys") dropdown-item"
									>Sutarčių ataskaita</a>
								</li>
								<li>
									<a
										href="@Url.Action("Veluojancios", "Ataskaita")"
										class="@MarkActive("Ataskaita", "Veluojancios") dropdown-item"
									>Vėluojančių sutarčių ataskaita</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	@* main content gets rendered here *@
	<div class="main-content container-fluid">
		@RenderBody()
	</div>

	@* page footer *@
	<div class="container-fluid bg-dark text-muted">
		<div class="footer-wrapper container-fluid d-flex justify-content-center pt-2">
			<footer >
				<p>&copy; KTU Informacinių Sistemų Katedra</p>
			</footer>
		</div>
	</div>
	
	@* any javascript comming from script sections in views gets redered here *@
	@RenderSection("scripts", required: false)

	@* initialization routines go here *@
	<script type="text/javascript">
		//this function is run when page is fully loaded
		$(document).ready(function () {
			//apply datatables plugin on tables having css class 'entitylist'
			$(".entitylist").DataTable({
				"autoWidth": true,
				language : {
					"decimal":        "",
					"emptyTable":     "Įrašų nėra",
					"info":           "Įrašai nuo _START_ iki _END_ iš _TOTAL_",
					"infoEmpty":      "0",
					"infoFiltered":   "(iš _MAX_ įrašų)",
					"infoPostFix":    "",
					"thousands":      ",",
					"lengthMenu":     "Puslapyje: _MENU_",
					"loadingRecords": "Vyksta duomenų įkėlimas...",
					"processing":     "Vyksta apdorojimas...",
					"search":         "Paieška:",
					"zeroRecords":    "Įrašų nerasta",
					"paginate": {
						"first":      "Pirmas",
						"last":       "Paskutinis",
						"next":       "Sekantis",
						"previous":   "Buvęs"
					},
					"aria": {
						"sortAscending":  ": rikiuoti didėjimo tvarka",
						"sortDescending": ": rikiuoti mažėjimo tvarka"
					}
				}
			});

			//apply datetimepicker plugin on date and datetime input fields
			$(".date-picker").datetimepicker({ timepicker:false, format: 'Y-m-d' });
			$(".datetime-picker").datetimepicker({ format: 'Y-m-d h:i' });

			//Kadangi naudojamas vienas pasirinkimo objektas(SelectListItems) nustatyti pasirinkimo reikšmei reikia ja nustatyti panaudojant javascript funkcija ir html elementą
			@* $(".sel_element").each(function () {
				$(this).closest("td").find("select").val($(this).text());
			}); *@

			//Inicijuojami datos ir laiko pasirinkimo įvedimo elementai
			@* $(".date-picker").datepicker({ dateFormat: 'yy-mm-dd' });
			$(".datetime-picker").datetimepicker({ format: 'Y-m-d h:i' }); *@

			@* $('input[type=text],input[type=radio],input[type=checkbox],textarea,select,input[type=email],input[type=number],input[type=datetime]').each(function () {
				var req = $(this).attr('data-val-required');
				var exclude = $(this).attr('data-exclude');
				if (undefined != req && undefined == exclude) {
					var label = $('label[for="' + $(this).attr('id') + '"]');
					var text = label.text();
					if (text.length > 0) {
						label.append('<span style="color:red"> *</span>');
					}
				}
			}); *@
		});
	</script>
</body>
</html>
