@model Org.Ktu.Isk.P175B602.Autonuoma.Models.Klientas
@{
	ViewData["title"] = "Kliento šalinimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<fieldset class="border rounded shadow p-2">
		<legend class="text-center">Ar tikrai norite šalinti šį klientą?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.AsmensKodas)</dt>
			<dd>@Html.DisplayFor(m => m.AsmensKodas)</dd>

			<dt>@Html.DisplayNameFor(m => m.Vardas)</dt>
			<dd>@Html.DisplayFor(m => m.Vardas)</dd>

			<dt>@Html.DisplayNameFor(m => m.Pavarde)</dt>
			<dd>@Html.DisplayFor(m => m.Pavarde)</dd>

			<dt>@Html.DisplayNameFor(m => m.GimimoData)</dt>
			<dd>@Html.DisplayFor(m => m.GimimoData)</dd>

			<dt>@Html.DisplayNameFor(m => m.Telefonas)</dt>
			<dd>@Html.DisplayFor(m => m.Telefonas)</dd>

			<dt>@Html.DisplayNameFor(m => m.Epastas)</dt>
			<dd>@Html.DisplayFor(m => m.Epastas)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="alert alert-warning text-center">
				<i class="fa-solid fa-circle-exclamation"></i> Šios kliento esybės trinti negalima, nes 
				ji turi ryšių į priklausomas esybes.
			</div>
		}
		else
		{
			<div class="container-fluid d-flex d-row justify-content-end">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.AsmensKodas})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>